.header {
    background-image: url(/public/img/upper-background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    position: absolute;
    font-family: "Times New Roman", Georgia, Serif;
}

.logo {
    width: 20%;
    height: auto;
    display: block;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5em;
    position: relative;
}

.menu {
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
    font-size: 2vw;
    color: white;
    line-height: 5vw;
}

.how-it-works {
    text-align: center;
    color: #232A4D;
}

.handshake {
    width: 20%;
    height: auto;
    display: block;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5em;
    position: absolute;
}

.first-header {
    position: relative;
    padding: 0;
    font-size: 3vw;
}

li:first-child {
    font-size: 10vw;
    margin-top: 2em;
    padding-top: 1vw;
}

li:last-child {
    font-size: 2vw;
    margin-top: 2vw;
    display: inline-block;
    width: 30%; 
    height: 1.2vw; 
    border-bottom: 1px solid black; 
    text-align: center
}

span {
    background-color: white;
    padding: 0 2vw;
}



