.header {
    background-image: url(/public/img/upper-background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.logo {
    width: 20%;
    height: auto;
    display: block;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5em;
    position: absolute;
}

.menu {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40em;
    text-align: center;
}

.how-it-works {
    position: inherit;
}