<html>
    <head>
        <meta charset="utf-8">
        <title>Astropumps</title>
        <link rel="stylesheet" type="text/css" href="public/css/main.css">
    </head>
    <body>
        <div class="header">
            <img class="logo" src="public/img/astropumpslogo.jpg" alt="Логотип">
            <div class="menu">
                <p>ЧАТ БОТ В ТЕЛЕГРАМ</p>
                <p>VK.COM/ASTROPUMPS</p>
                <p>ВХОД</p>
            </div>
        <div class="how-it-works">
            <ul class="first-header">
                <li>01</li>
                <li>Как это работает?</li>
                <li><span>Спрос и предложение!</span></li>
            </ul>
        </div>
        <img class="handshake" src="public/img/handshake.png" alt="Иконка Рукопожатия">
        <div class="expl-1">
            <p>Мы начнем одновременную покупку монеты, что,</p>
            <p>в свою очередь, вызовет подъем цены и привлечет</p>
            <p>других инвесторов.</p>
        </div>
        <img class="graph-1" src="public/img/1nd-graph.png">
        <img class="arrow-up" src="public/img/arrow-up.png">
        <div class="graph-1-expl">
            <p>Идет начало пампа.</p>
            <p>Запросы на покупку начинают</p>
            <p>перевешивать запросы на продажу,</p>
            <p>поднимая ценность монеты.</p>
        </div>
        <div class="our-goal">
            <ul class="second-header">
                <li>02</li>
                <li>Какая наша цель?</li>
            </ul>
        </div>
        <img class="men" src="public/img/mans.png">
        <div class="team">
                <p>Мы собираем команду для искуственного поднятия цены</p>
                <p>какой-либо монеты и последующей ее продажи.</p>
                <p>Чем больше людей будет участвовать, тем выше шанс</p>
                <p>удачного пампа.</p>
        </div>
        <img class="speaker" src="public/img/speaker.png">
        <div class="share">
                <p>Делитесь со своими друзьями!</p>
                <p>Вступайте в нашу группу VK.COM/ASTROPUMPS!</p>
        </div>
        <img class="money" src="public/img/money.png">
        <div class="earn">
            <p>Если мы вместе направим наши средства в выбранную монет,</p>
            <p>то увеличим ее объем и цену, что позволит выгодно ее продать.</p>
        </div>
        <div class="middle">
            <div class="amount">
                <ul class="third-header">
                    <li>03</li>
                    <li>Какая минимальная сумма вклада?</li>
                </ul>
            </div>
            <div class="no-limit">
                <p>Никаких ограничений нет!</p>
                <p>Вы можете вложить в монету столько, сколько считаете нужным.</p>
            </div>
            <div class="but">
                <p>НО: Чем больше вы вложете, тем лучше для прибыли, потому что она</p>
                <p>напрямую зависит от суммы вложения.</p>
            </div>
            <div class="how-it-works">
                    <ul class="first-header">
                        <li>04</li>
                        <li>Как понять, когда продавать монету?</li>
                        <li><span>Все очень просто!</span></li>
                    </ul>
                    <img class="chart" src="public/img/diagram.png">
                    <div class="order-book">
                        <p>Для этого нужно смотреть на</p>
                        <p>ORDER BOOK или на график.</p>
                    </div>
                    <div class="no-control">
                        <p>Никто не контролирует инвесторов!</p>
                        <p>Продажи могут начаться в любой момент, обвалив цену!</p>
                    </div>
                    <img class="graph-2" src="public/img/2nd-graph.png">
                    <img class="arrow-down" src="public/img/arrow-down.png">
                <div class="graph-2-expl">
                    <p>Идет падение курса.</p>
                    <p>Вызвано это резкой продажей монеты.</p>
                </div>
            </div>
        </div>
        <div class="low">
            <div class="link">
                <p>VK.COM/ASTROPUMPS</p>
            </div>
        </div>
    </body>
</html>