<html>
    <head>
        <meta charset="utf-8">
        <title>Astropumps</title>
        <link rel="stylesheet" type="text/css" href="public/css/main.css">
    </head>
    <body>
        <div class="landing">
            <div class="header">
                <img class="logo" src="public/img/astropumpslogo.jpg" alt="Логотип">
                <div class="menu">
                    <p>ЧАТ БОТ В ТЕЛЕГРАМ</p>
                    <p>VK.COM/ASTROPUMPS</p>
                    <p>ВХОД</p>
                </div>
            <div class="how-it-works">
                <p>01</p>
                <p>Как это работает?</p>
                <p>Спрос и предложение!</p>
                <p>Мы начнем одновременную покупку монеты, что,</p>
                <p>в свою очередь, вызовет подъем цены и привлечет</p>
                <p>других инвесторов.</p>
                <img class="handshake" scr="public/img/handshake.png" alt="Иконка Рукопожатия">
            </div>
        </div>
    </body>
</html>